git+https://github.com/Joelkb/cinemagoer
pyrofork==2.3.45
tgcrypto
pymongo==4.5.0
motor==3.1.2
marshmallow==3.20.1
umongo==3.0.1
heroku3==5.2.1
wget
aiofiles
ffmpeg-python
requests
telegraph
ujson
pyshorteners
pytz
dnspython
aiohttp
Pillow
speedtest-cli
psutil
shortzy
